
<ion-content >
    <ion-card >
      <form novalidate #myForm="ngForm" (ngSubmit)="insert(myForm.value)"></form>
      <ion-grid>
        <ion-row  justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <div text-center>
              <h3>เพิ่มข้อมูล</h3>
            </div>
            <div padding>
              <ion-item>
                <ion-input type="text" placeholder="ชื่อฮีโร่" ngModel name="hero_name"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input type="text" placeholder="ประเภทฮีโร่" ngModel name="hero_status" ></ion-input>
              </ion-item>
              <ion-item>
                <ion-input type="text" placeholder="ความเสียหาย" ngModel name="hero_dmg"></ion-input>
              </ion-item>
            </div>
            <div class="mid">
                <ion-button shape="round" size="midium">ยืนยัน</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
</ion-card>
  </ion-content>
